@import '../../../styles/app';

:global {
    @import '../../../../node_modules/react-datetime/css/react-datetime';
    @import '../../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox';
    @import '../../../../node_modules/react-select2-wrapper/css/select2';

    .text-center svg {
        display: inline-block;
      }
  }

  .imgRounded {
    border-radius: $border-radius;
  }

  .select2 {
    :global {
      .select2-container {
        width: 100% !important;
      }
    }
  }

  

  .root {
    :global {

    /* Datepicker */
        .datepicker {
            display: inline-block;

            .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            display: inline;
            }
        
            .input-group-addon {
            display: inline-block;
            position: relative;
            top: -2px;
            padding: 0.52rem 1rem;
            }
        
            i.glyphicon {
            vertical-align: top;
            }
        
            .rdt {
            display: inline-block;
            }
        }

        .option-div {
            text-align: right;
        }

        .rowDateArea {
            padding-top: 1em;
            padding-bottom: 1em;
        }

        .textRemovePadding {
            padding-left:0px !important;
            padding-right: 0px !important;
        }

         /* radio and checkbox */
        .abc-checkbox,
        .abc-radio {
            .form-check-input {
            position: relative;
            margin: 0;
            }
        }

        .totalText {
            font-size: larger;
            font-weight: bolder;
        }
    }

    // some styles
    .tabPicture {
        font-size: 200px;
        text-align: center;
        color: #56bc76;
        height: 280px;
    }

   

    

    
  }

