.alert-dismissible .close {
  padding: 0;
}

.navbar,
.sidebar {
  .alert-dismissible .close {
    right: 0;
    padding-left: 10px;
    color: $gray-100;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.sidebar .alert-dismissible .close {
  top: -1px;
}

.navbar .alert-dismissible .close {
  top: 3px;
}

.navbar {
  .dropdown-menu {
    .dropdown-item {
      color: black;

      &:hover {
        background-color: $header-dropdown-item-hover;
        cursor: pointer;
      }
    }
  }
}

.page-title {
  color: $page-title-color;
  font-weight: 300;
  line-height: 1;
  /* stylelint-disable-next-line */
  margin: 11px 0 (1.5*$spacer);

  small {
    color: rgba($page-title-color, 0.7);
  }

  @media (max-width: breakpoint-max(sm)) {
    margin-top: 0;
  }
}

.form-control {
  &.input-transparent {
    border: none;
    color: $input-transparent-color;
    background-color: $widget-bg;

    @include placeholder($input-transparent-placeholder-color);

    &:focus {
      color: $input-transparent-color;

      @include box-shadow(inset 0 1px 1px rgba(0,0,0,0.2));
    }

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
      background-color: lighten($widget-bg, 10%);
    }
  }
}

.navbar .nav > li a:focus > i,
.navbar .nav > li > a:hover > i,
.navbar .nav > li > a.active > i,
.navbar .nav > li > a.active:hover > i,
.navbar .nav > li > a.active:focus > i {
  color: $white;
}

.navbar .dropdown > .dropdown-menu {
  &::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $popover-bg;
    position: absolute;
    top: -6px;
    left: 10px;
  }
}

.section {
  font-size: $font-size-larger;
  color: $text-muted;
  font-weight: $font-weight-thin;
  vertical-align: middle;
  line-height: 30px;
  padding: $section-padding-top 0 0 0;
  margin-bottom: $section-margin-bottom;

  small {
    font-size: $font-size-sm;
    color: $text-muted;
    font-weight: bold;
  }
}

.widget-table-overflow {
  margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;

  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    &:first-child {
      padding-left: $widget-padding-horizontal;
    }

    &:last-child {
      padding-right: $widget-padding-horizontal;
    }
  }
}

.chart-col-header {
  width: 150px;
}

.table .chart-cell {
  padding: 3px;
}

.source-col-header {
  width: 30%;
}

.table-sources {
  td,
  th {
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }
}

.tab-content {
  background: $nav-tabs-tab-content-bg;
  padding: 10px;
  border-radius: 0 0 $border-radius-base $border-radius-base;
  overflow: hidden;
}

.tabs-below {
  .tab-content {
    border-bottom: none;
    border-radius: $border-radius-base $border-radius-base 0 0;
  }
}

.tabs-left {
  .tab-content {
    border-radius: 0 $border-radius-base $border-radius-base 0;
  }
}

.tabs-right {
  .tab-content {
    border-radius: $border-radius-base 0 0 $border-radius-base;
  }
}

section.widget-tabs {
  background: none;
  padding: 0;

  @include box-shadow(none);

  > div {
    margin-top: 0;
  }

  .tab-content {
    padding: 1.2rem 1.4rem;
  }

  .nav > .nav-item > .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    display: none;
  }

  .nav > .nav-item > .nav-link:not(.active) {
    background: $widget-bg;
    border-bottom: none;

    &:hover {
      background: $tabs-widget-active-item-hover-bg;
      border-color: transparent;
    }
  }
}

.tab-header {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: $font-size-larger;
  color: $widget-header-color;
}

.pagination-search-result > .active > a {
  background-color: rgba(51, 51, 51, 0.25);
  color: #fff;
}

.pagination-search-result {
  display: inline-flex;

  > .page-link > .page-item,
  > .page-link > span {
    color: $text-color;

    &:hover,
    &:focus {
      background-color: rgba($widget-bg, 0.25);
      color: $white;
    }
  }

  > .disabled > span,
  > .disabled > span:hover,
  > .disabled > span:focus,
  > .disabled > .page-item,
  > .disabled > .page-item:hover,
  > .disabled > .page-item:focus {
    color: #ddd;
  }

  > .active > .page-item,
  > .active > .page-item:hover,
  > .active > .page-item:focus,
  > .active > span,
  > .active > span:hover,
  > .active > span:focus {
    background-color: rgba($widget-bg, 0.25);
    color: $white;
  }
}

.external-event {
  margin: 15px 0;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  border-radius: $border-radius-base;
}

.no-margin {
  margin: 0 !important;
}

/*          THUMBNAILS          */

.img-thumbnail {
  width: 100%;
}

.thumbnails .img-thumbnail {
  margin-bottom: 20px;
}

/*       Background Variant        */

@include bg-variant('.bg-lime', $lime);

/*         Widgets Grid          */

.widget-container {
  min-height: 30px;

  .widget:not(.fullscreened) > header {
    cursor: move;
  }
}

.widget-placeholder {
  background: rgba($white, 0.4);
  border: 1px dashed $gray-600;
  margin: -1px -1px calc(#{$grid-gutter-width} - 1px) -1px;
}

/*         Form Action           */

.form-actions {
  padding: 17px 20px 18px;
  background-color: $bg-addition;

  @include clearfix(); // Adding clearfix to allow for .float-right button containers
}

/*         STats Row             */

.stats-row {
  margin-bottom: 1.25rem;
}

.stat-item {
  display: inline-block;
  padding-right: 1.25rem;

  & + .stat-item {
    padding-left: 1.25rem;
    border-left: 1px solid $hr-border-color;
  }

  .name {
    margin-bottom: 0.25rem;
    font-size: $font-size-sm;
  }

  .value {
    font-weight: bold;
  }

  &.stat-item-mini-chart {
    position: relative;
    top: -1rem;
    padding-left: 0;
    border-left: none;
  }
}

.select2,
.select2-container,
.datepicker {
  color: $gray-900;
}

.bg-addition {
  background-color: $bg-addition !important;
}
