/*         Reset           */

a:focus {
  outline: none;
}

/*          Type           */

ul,
ol {
  margin: 0;
}

hr {
  border-top: none;
}

blockquote {
  &.blockquote {
    border-left: $blockquote-border-width solid $blockquote-border-color;
  }

  &.blockquote-sm {
    padding: 0 0 0 15px;
    font-size: $font-size-base;
  }

  p {
    font-size: inherit;
    margin-bottom: ($line-height-base * $font-size-base) / 2;
  }
}

small,
.small {
  font-weight: inherit;
}

h1 small { font-size: $font-size-base * 1.75; } // ~24px
h2 small { font-size: $font-size-base * 1.25; } // ~18px
h3 small { font-size: $font-size-base; }
h4 small { font-size: $font-size-base; }

@media (min-width: breakpoint-min('sm')) {
  .lead {
    font-size: 16px;
  }
}

/*         Code            */

code,
pre {
  border-radius: $border-radius-base;
}

/*         Grid           */

.container {
  position: static;
}

/*         Forms           */

label,
input,
button,
select,
textarea {
  font-weight: $font-weight-base;
}

.form-control {
  @include transition(border linear 0.2s, box-shadow linear 0.2s);

  &[type=search],
  &.search {
    padding-left: 26px;
  }
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $spacer;
  line-height: inherit;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 19.5px;
  font-weight: $font-weight-normal;

  small {
    color: $text-muted;
    font-size: 14px;
  }
}

select:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: none;
}

.input-group-btn > .btn {
  z-index: 2;
  border: none;
}

/*      Input Groups       */

.input-group-addon {
  color: $text-muted;
  padding: 0.385rem 12px;
  border: none;
}

/*        Tables        */

.table .table {
  background-color: $bg-addition;
}

.table-hover {
  tbody {
    td,
    th {
      @include transition(background-color 0.2s);
    }
  }
}

.table.table-striped,
.table.table-hover {
  thead > tr > th,
  tfoot > tr > td {
    border-top: none;
  }
}

.table thead > tr > th {
  border-bottom: none;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom-width: 1px;
}

.table td > .checkbox,
.table th > .checkbox {
  position: relative;
  left: 3px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  > label::before,
  > label::after {
    margin-left: 0;
  }
}

.table > thead > tr > th {
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  border-bottom-width: 1px;
}

.table-lg {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 10px;
      }
    }
  }
}

.table-sm {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 6px;
      }
    }
  }
}

/*        Dropdowns        */

.dropdown.open {
  .dropdown-menu {
    display: block;
  }
}

button.dropdown-toggle {
  i {
    margin-left: 3px;
  }
}

.dropdown-menu {
  border-radius: $border-radius-lg;
  min-width: 0;
  width: fit-content;
}

.dropdown-menu > li > a {
  font-weight: $font-weight-base;
}

.btn-group.show .dropdown-menu {
  display: block;
}

/*      Buttons            */

.btn:focus {
  outline: none;
}

.btn {
  color: $white;
  text-shadow: none;

  // set to pointer since bs4 dropped this
  cursor: pointer;

  @include box-shadow(none);

  &:hover,
  &:focus {
    @include box-shadow(inset 0 1px 5px rgba(0, 0, 0, 0.08));
  }

  &.active:hover {
    color: $white;

    @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05));
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  .caret {
    border-top-color: #fff;
  }
}

.btn-inverse {
  border-color: $gray-400;
  color: $gray-800;

  &.active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

.btn-success,
.btn-info,
.btn-warning {
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn,
.btn-secondary,
.btn-gray {
  &:not(.active) {
    box-shadow: none !important;
  }
}

.btn-xs {
  padding: 0 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-sm {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-transparent {
  background: transparentize($text-transparent, 0.2);
  color: $widget-header-color;
  text-shadow: none;

  @include box-shadow(none);

  &:hover {
    background: $text-transparent;
    color: $widget-header-color;
  }

  &.active {
    color: $widget-header-color;
    background: rgba($widget-bg-common, 0.55);

    &:hover {
      background: rgba($widget-bg-common, 0.55);
    }
  }

  .caret {
    border-top-color: $widget-header-color;
  }
}

.btn-toolbar {
  font-size: 0; // Hack to remove whitespace that results from using inline-block
  margin-top: $line-height-base / 2;
  margin-bottom: $line-height-base / 2;

  > .btn + .btn,
  > .btn-group + .btn,
  > .btn + .btn-group {
    margin-left: 5px;
  }
}

/* since 1.5 */
.btn-white {
  background: none;
  border: 2px solid #fff;
}

.btn-link {
  font-weight: $font-weight-base;
}

/*        TABBABLE         */
.tabbable {
  @include clearfix();
}

// Remove border on bottom, left, right
.tabs-below.nav-tabs,
.tabs-right.nav-tabs,
.tabs-left.nav-tabs {
  border-bottom: 0;
}

// Show/hide tabbable areas
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

// BOTTOM
// ------

.tabs-below.nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below.nav-tabs > li > a {
  border-radius: 0 0 $border-radius-base $border-radius-base;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
    border-top-color: #ddd;
  }
}

.tabs-below.nav-tabs > .active > a,
.tabs-below.nav-tabs > .active > a:hover,
.tabs-below.nav-tabs > .active > a:focus {
  border-color: $nav-tabs-active-item-border;
  border-top-color: $nav-tabs-active-item-border-bottom;
}

// LEFT & RIGHT
// ------------

// Common styles
.tabs-left.nav-tabs > li.nav-item,
.tabs-right.nav-tabs > li.nav-item {
  float: none;
  margin-bottom: 0;
  margin-left: 0;
}

.tabs-left.nav-tabs > li > a,
.tabs-right.nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

// Tabs on the left
.tabs-left.nav-tabs {
  float: left;
}

.tabs-left.nav-tabs > li > a {
  //margin-right: -1px;
  border-radius: $border-radius-base 0 0 $border-radius-base;
}

.tabs-left.nav-tabs > li > a:hover,
.tabs-left.nav-tabs > li > a:focus {
  border-color: $gray-200 #ddd $gray-200 $gray-200;
}

.tabs-left.nav-tabs .active > a,
.tabs-left.nav-tabs .active > a:hover,
.tabs-left.nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
}

// Tabs on the right
.tabs-right.nav-tabs {
  float: right;
}

.tabs-right.nav-tabs > li > a {
  //margin-left: -1px;
  border-radius: 0 $border-radius-base $border-radius-base 0;
}

.tabs-right.nav-tabs > li > a:hover,
.tabs-right.nav-tabs > li > a:focus {
  border-color: $gray-200 $gray-200 $gray-200 #ddd;
}

.tabs-right.nav-tabs .active > a,
.tabs-right.nav-tabs .active > a:hover,
.tabs-right.nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
}

/*          Navs          */

.nav-tabs {
  .nav-item + .nav-item {
    margin-left: 2px;
  }

  border-bottom: none;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  > .nav-item {
    margin-bottom: 0;

    &.dropdown > .nav-link {
      color: $white;
    }

    > .nav-link {
      //padding: 12px 18px;
      //margin-right: 2px;
      border: none;
      color: $text-color;

      .label {
        margin-bottom: -2px;
      }

      @include transition(color 0.15s ease-in-out);

      &:hover {
        background-color: $nav-tabs-link-bg;
      }
    }

    .nav-link.active {
      &,
      &:hover,
      &:focus {
        background: $nav-tabs-link-bg;
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.tab-content {
  position: relative;
  z-index: 1;
  background-color: $widget-bg;
  padding: $spacer*2 $spacer;
}

.nav-pills > li > a {
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: $border-radius-base;
  background: $bg-addition;
}

// Active state
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: $widget-header-color;
  background: none;
}

.nav-pills .nav-link {
  padding: 0.8em 1.1em;
}

.nav-justified > li {
  padding: 0 1.28%;
}

/*         Navbars         */

.navbar {
  margin: 0;

  .btn-navbar {
    border: none;

    @include box-shadow(none);
  }
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: none;

  @include box-shadow(none);
}

.navbar-nav {
  margin: ($navbar-padding-y / 2) -$navbar-padding-x;

  > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include media-breakpoint-up(xs) {
    //@media (max-width: $screen-xs-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      position: absolute;
      float: left;
      margin: 2px 0 0;
      background-color: $popover-bg;
      border: 0;
      box-shadow: none;
    }
  }
}

/*       Breadcrumbs       */

.breadcrumb {
  a {
    color: $breadcrumb-color;
    text-decoration: none;

    &:hover {
      color: $breadcrumb-active-color;
    }
  }

  .content > & {
    padding-left: 0;
    padding-right: 0;
    margin-top: 11px;
    margin-bottom: 9px;
  }
}

/*        Pagination       */

.pagination {
  font-weight: $font-weight-normal;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      border-radius: $border-radius-base;
      margin: 0 2px;
    }
  }

  .page-link:hover {
    text-decoration: none;
  }

  .page-item {
    &.disabled,
    &[disabled] {
      cursor: not-allowed;
    }
  }
}

/*         Modals          */

.modal {
  color: $gray-700;
  border-radius: $border-radius-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gray-500;
  }
}

.modal-footer {
  background-color: #f5f5f5;
}

/*        Tooltips         */

.tooltip {
  font-size: $font-size-sm;
}

.tooltip-inner {
  padding: 4px;
  white-space: nowrap;
}

/*        Popovers         */

.popover {
  color: $text-color;
  border-radius: $border-radius-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-color;
  }
}

.popover-title {
  border-radius: $border-radius-base $border-radius-base 0 0;
}

/*       Thumbnails        */

.thumbnail {
  border: none;

  @include box-shadow(none);

  .widget & {
    border-width: $thumbnail-border-width;
  }
}

.thumbnail .caption {
  color: $widget-color;
}

/*    Labels and badges    */
.badge-default {
  @include badge-variant($gray-400);
}

.badge-primary {
  @include badge-variant(theme-color('primary'));
}

.badge-success {
  @include badge-variant(theme-color('success'));

  color: $white;

  &[href] {
    @include hover-focus {
      color: $white;
    }
  }
}

.badge-info {
  @include badge-variant(theme-color('info'));
}

.badge-warning {
  @include badge-variant(theme-color('warning'));

  color: $white;

  &[href] {
    @include hover-focus {
      color: $white;
    }
  }
}

.badge-danger {
  @include badge-variant(theme-color('danger'));
}

.badge-important {
  @include badge-variant(theme-color('danger'));
}

.badge-inverse {
  @include badge-variant($gray-400);
}

.badge-gray {
  @include badge-variant($gray-600);
}

.help-block {
  margin-top: 5px;
  font-size: $font-size-mini;
  color: $text-muted;
  display: block;
}

/*        Jumbotron        */

.jumbotron {
  .widget > & {
    margin: (-$widget-padding-vertical) (-$widget-padding-horizontal);
  }

  h1,
  .h1 {
    line-height: 1;
  }
}

/*          Alerts         */

.alert {
  text-shadow: none;
  font-weight: normal;
}

.close {
  @include transition(opacity 0.2s ease-out);

  text-shadow: none;
}

.alert-sm {
  padding: 10px 12px;
  font-size: $font-size-sm;

  .close {
    font-size: 18px;
  }
}

/*        List Groups      */

.list-group {
  margin-bottom: 0;

  .widget > & {
    margin: (-$widget-padding-vertical) (-$widget-padding-horizontal);
  }

  .widget .body > & {
    margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);

    .list-group-item:first-child {
      border-top: 1px solid $bg-addition;
    }
  }
}

.list-group-item {
  border: 1px solid rgba($black, 0.125);

  @include transition(background 0.15s ease-in-out);

  color: $widget-color;

  &:first-child {
    border-radius: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: $gray-100;
  }

  &,
  &:hover {
    text-decoration: none;
    color: #f8f8f8;
    background-color: rgba(51, 51, 51, 0.3);
  }

  &:not(.ui-sortable-handle) {
    border-left: none;
    border-right: none;
  }

  .widget & {
    background: none;

    + .list-group-item {
      border-top: 1px solid $bg-addition;
    }
  }

  .list-group-outer & {
    + .list-group-item {
      margin-top: 10px;
    }
  }

  > .fa-chevron-right {
    margin-top: 3px;
    margin-left: 6px;
    color: darken($text-color, 5%);
  }
}

.list-group-item {
  .list-group-lg & {
    padding: 1.25rem;
  }

  .list-group:last-of-type &:last-child {
    border-bottom: 0;
  }
}

/*         Progress        */

.progress {
  background: rgba(black, 0.15);
  overflow: hidden;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: $form-group-margin-bottom;
}

.progress-lg {
  height: 1.38rem;
}

.progress-sm {
  height: 0.62rem;
}

.progress-xs {
  height: 5px;
  margin-bottom: $spacer/2;
}

.progress-bar {
  font-size: 1rem;
}

/*        Carousel         */

.carousel {
  .widget > & {
    margin: 0 (-($widget-padding-horizontal)) 5px;
  }
}

.carousel-control {
  &.left,
  &.right {
    background: none;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
  }
}

.carousel-indicators {
  &.outer {
    bottom: -10px;
  }

  li {
    background-color: $bg-addition;
  }
}

/*          Card          */
.card-columns {
  .card {
    padding: 0;

    .card-body {
      border-top: 1px solid $bg-addition;
    }
  }

  @include media-breakpoint-up(xs) {
    column-count: 1;
  }
}

.card {
  background-color: $widget-bg;
  color: $widget-color;
  border: none;
  padding: $card-padding;

  &.card-white {
    background-color: rgba($white, 0.2);
  }

  &.card-well {
    padding: 19px;
    margin-bottom: 20px;
  }

  &.card-sm {
    padding: 9px;
  }
}

.card-block {
  flex: 1 1 auto;
  padding: $card-spacer-x;
}

.card-title {
  margin-top: $card-spacer-y;
}

.card-img-top {
  width: 100%;
}

/*       Thumbnails        */
.img-thumbnail {
  box-shadow: none;

  .widget & {
    border-width: $thumbnail-border-width;
  }
}

.img-thumbnail .caption {
  color: $widget-color;
}

// Code
// -----------------

pre {
  display: block;
  padding: 6.5px;
  margin: 0 0 (1rem / 2);
  font-size: 13px;
  line-height: 1rem;
  word-break: break-all;
  word-wrap: break-word;
  color: $pre-color;
  background-color: $bg-addition;
  border: 1px solid $widget-bg;
  border-radius: $border-radius;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }

  &.form-actions {
    padding: 8.5px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
  }
}

