@import '../../../styles/app';


:global {
    @import '../../../../node_modules/react-datetime/css/react-datetime';
    @import '../../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox';
    @import '../../../../node_modules/react-select2-wrapper/css/select2';

    .text-center svg {
        display: inline-block;
      }

    .select2-container {
      width: 100% !important;
    }
  }

  .select2 {
    :global {
      .select2-container {
        width: 100% !important;
      }
    }
    
  }

.root {
    :global {

    /* Datepicker */
        .datepicker {
            display: inline-block;


            .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            display: inline;
            }
        
            .input-group-addon {
            display: inline-block;
            position: relative;
            top: -2px;
            padding: 0.52rem 1rem;
            }
        
            i.glyphicon {
            vertical-align: top;
            }
        
            .rdt {
            display: inline-block;
            }


        }
    }
}

.autogrow {
  overflow: hidden;
  resize: none;
}

.dropzone {
  width: 100%;
  text-align: center;
  padding: 40px 10px;
  height: 200px;
  border: 2px dashed #ccc;

  @include border-radius($border-radius);

  img {
    max-height: 100px;
    max-width: 150px;
    border-radius: 5px;
  }
}
