@import '../../../styles/app';


:global {
    @import '../../../../node_modules/react-datetime/css/react-datetime';
    @import '../../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox';
    @import '../../../../node_modules/react-select2-wrapper/css/select2';

    .text-center svg {
        display: inline-block;
      }
  }



  .select2 {
    :global {
      .select2-container {
        width: 100% !important;
      }
    }
  }

.root {
    :global {

    /* Datepicker */
        .datepicker {
            display: inline-block;


            .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            display: inline;
            }
        
            .input-group-addon {
            display: inline-block;
            position: relative;
            top: -2px;
            padding: 0.52rem 1rem;
            }
        
            i.glyphicon {
            vertical-align: top;
            }
        
            .rdt {
            display: inline-block;
            }


        }

        .widget {
            padding-bottom: 45px;
        }
    }

    .galleryWidget {
        border-radius: 3px;
        box-sizing: content-box;
        padding: 12px 17px;
        color: #f8f8f8;
        background: rgba(51, 51, 51, 0.4);
        margin-bottom: 30px;
        height: 180px;

        .thumbnails {
            border: 1px;
        }
    }
}